@font-face {
  font-family: myFont; /* set name */
  src: url(sansation_light.woff); /* url of the font */
}

p {
  font-family: myFont; /* use font */
}

.items{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    justify-items: center;
       
}

#container{
    margin: auto auto;
}
.item{
    width: 50px;
    margin-top: 10px;
    z-index: 1;
}
.sticker{
    width: 50px;
    margin-top: 10px;
    z-index: 1;
    position: fixed;
    top: 0px;
    left:0px;
    pointer-events: none;

}

/* .canvas{
    grid-column: 1/6;
    grid-row: 1/5;
    left: -10px;
    width: 200px;
} */
#box{
    grid-column: 1/-1;
}
.canvas{
    
    /* grid-row: 1/5; */
    width: 200px;
    z-index: 0;
}

body{
    background-color:#e1f1f5;
    margin: 0;
    font-family: "omnes-pro", Arial, Helvetica;
    font-weight: 600;
    color: #410b70;
}

h1{
    font-size: 16px;
    margin: 0;
    font-family: "chloe", sans-serif;
}


h2{
    font-size: 12px;
    text-align: center;
    padding-bottom: 15px;
    font-weight: normal; 
    color: #5a1599;   
}
nav>a{
    font-size: 11px;
    color: #992291;
    text-decoration: none;
    
}

header{
    padding-top: 10px;
    z-index: 1;
    background-color: #e1f1f5;
    box-shadow: 0px 0px 3px #53838c;
    height: 30px;
    position: relative;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content:  center;
    gap: 10px;
}

