
.items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    justify-items: center;
       
}

#container{
    margin: auto auto;
}
.item{
    width: 35px;
    margin-top: 10px;
    z-index: 1;
    border: #e1f1f5 5px solid;
}
.sticker{
    width: 100px;
    margin-top: 10px;
    z-index: 1;
    position: fixed;
    top: 0px;
    left:0px;
    pointer-events: none;

}
.button{
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    background-color:#f2fafc;
    border: #5a1599 2px solid;
    font-family: "omnes-pro", Arial, Helvetica;
    font-weight: 600;
    color: #410b70;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #53838c;
}


.unclicked{
    background-color:inherit;
    border: #5a1599 5px solid;
    box-shadow: inherit;
}
.clicked{
    background-color: #ffdbe2;
    border: pink 5px solid;
    box-shadow: 0px 0px 5px #53838c;
}
/* .canvas{
    grid-column: 1/6;
    grid-row: 1/5;
    left: -10px;
    width: 200px;
} */
#box{
    grid-column: 1/-1;
}
.canvas{
    
    /* grid-row: 1/5; */
    width: 200px;
    z-index: 0;
    /* pointer-events: none; */
}

.notClickable{
    pointer-events: none;

}

body{
    background-color:#e1f1f5;
    margin: 0;
    font-family: "omnes-pro", Arial, Helvetica;
    font-weight: 600;
    color: #410b70;
    overflow: hidden;
}

h1{
    font-size: 16px;
    margin: 0;
    font-family: "chloe", sans-serif;
}
#buttons{
    display: flex;
    justify-content:  center;
    gap: 20px;
    margin-bottom: 5px;
    margin-top: 10px;

}


h2{
    font-size: 12px;
    text-align: center;
    padding: 0px;
    line-height: 0px;
    font-weight: normal; 
    color: #5a1599;   
}

nav>a{
    font-size: 11px;
    color: #992291;
    text-decoration: none;
    
}

header{
    padding-top: 10px;
    z-index: 1;
    background-color: #e1f1f5;
    box-shadow: 0px 0px 3px #53838c;
    height: 30px;
    position: relative;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content:  center;
    gap: 10px;
}

.flipped{
    transform: scaleX(-1);
}

@media all and (min-width: 600px){
    header{
        padding-top: 20px;
        height: 60px;
        gap: 20px;
    }
    h1{
    font-size: 30px;
    }
    nav>a{
    font-size: 22px;
    padding-left: 10px;
    }
    h2{
    font-size: 15px;   
    }
    .items{
    display: grid;
    grid-template-columns: repeat(12, 1fr);  
    margin-right: 20px;
    }
    #box{
    grid-column: 1/6;
    grid-row: 1/6;
    }
    .canvas{
        left: -10px;
        width: 250px;

    }
    .item{
        width: 50px;
    }
    .sticker{
    width: 125px;
    }

}

@media all and (min-width: 1300px){
    header{
        padding-top: 20px;
        height: 60px;
        gap: 20px;
    }
    h1{
    font-size: 30px;
    }
    nav>a{
    font-size: 22px;
    padding-left: 10px;
    }
    h2{
    font-size: 20px;   
    }
    .items{
    display: grid;
    grid-template-columns: repeat(12, 1fr);  
    margin-right: 20px;
    }
    #box{
    grid-column: 1/6;
    grid-row: 1/6;
    }
    .canvas{
        left: -10px;
        width: 500px;

    }
    .item{
        width: 100px;
    }
    .sticker{
    width: 250px;
    }
    

}