body{
    background-color:#e1f1f5;
    margin: 0;
    font-family: "omnes-pro", Arial, Helvetica;
    font-weight: 600;
    color: #410b70;
    overflow: hidden;
}

h1{
    font-size: 16px;
    margin: 0;
    font-family: "chloe", sans-serif;
}