body{
    background-color:#e1f1f5;
    margin: 0;
    font-family: "omnes-pro", Arial, Helvetica;
    color: #5e1d98;
    font-size: 10px;
}
main{
    margin-left: 15px;
    margin-right: 15px;
}

h1{
    font-size: 15px;
    margin: 0;
    font-family: "chloe", sans-serif;
    color: #410b70;
}
h2:first-child{
    color: #410b70;
}
section{
    margin-top: 40px;
    height: 100px;
    /* display: inline-block; */
}
img{
    width: 150px;
}
/* img{
    width: 250px;
    position: relative;
    left: 250px;
    top: -190px;
    }
     */
nav>a{
    font-size: 10px;
    color: #992291;
    text-decoration: none;
    font-weight: 600;
    
}
.flexbox{
    display: inline-flex;
}

header{
    padding-top: 10px;
    margin: 0;
    z-index: 1;
    background-color: #e1f1f5;
    box-shadow: 0px 0px 3px #53838c;
    height: 30px;
    position: relative;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content:  center;
    gap: 10px;
}
#flexBox{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;

}

@media all and (min-width: 600px){
    
    body{
        font-size: 18px;
    }
    main{
    margin-left: 30px;
    margin-right: 30px;
    }
    #flexBox{
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;

    }
    header{
        padding-top: 20px;
        height: 60px;
        gap: 20px;
    }
    h1{
    font-size: 30px;
    }
    nav>a{
    font-size: 22px;
    padding-left: 10px;
    }
    h2{
    font-size: 25px;   
    }
    p{
        margin-bottom: 50px;
    }
    img{
        width: 250px;
    }
    
}